html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  min-height: 100%;
}

body {
    background-image: url('/images/background2.jpg');
}

main, #list-card {
  height: 100%;
  padding-bottom: 0;
  text-align: center;
}

#list-container {
  height: calc(100% - 35px);
  padding-bottom: 0;
  text-align: center;
}

#lists {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#list-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  border-bottom: 0.5px;
  border-color: #e7eaf5;
}

.logo{
  padding: 5px;
}

.btnimg{
  height: 30px;
}

.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

.mdl-layout__header{
  background-color: #e7eaf5;
  padding-right: 5px;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-layout__content {
  /* background-color: #e7eaf5; */
    background-image: url('/images/background2.jpg');
    text-align: center;
}

.demo-list-item {
  margin: 0;
  padding-top: 0;
}

.mdl-list__item {
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e7eaf5;
}

#listlist {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
#list-filler {
  flex-grow: 1;
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 610px) {

  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}
