/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  min-height: 100%;
}

body {
    background-image: url('/images/background2.jpg');
}

main {
  height: 100%;
  padding-bottom: 0;
  text-align: center;
}

#mypage-container {
  height: calc(100% - 35px);
  padding-bottom: 0;
  text-align: center;
}

#lists {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#info-card {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#map-card {
  margin-top:0px;
  margin-bottom: 10px;
}

#bookmark-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  border-bottom: 0.5px;
  border-color: #e7eaf5;
}

.logo{
  padding: 5px;
}

.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.material-icons {
  font-size: 24px;
  top: 8px;
  margin-right:3px;
  position: relative;
}

.mdl-layout__header{
  background-color: #e7eaf5;
  padding-right: 5px;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-layout__content {
  /* background-color: #e7eaf5; */
    background-image: url('/images/background2.jpg');
    text-align: center;
}

.mdl-card__title {
  font-weight: 300;
  height: 100px;
  background-image: url('/images/infoimg0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  text-align: left;
}

.demo-list-item {
  margin: 0;
  padding-top: 0;
}

.mdl-list__item {
  display:block;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e7eaf5;
}

.mdl-list__item .status {
  float:left;
  font-size: 12px;
  box-sizing:border-box;
  background-color:#e7eaf5;
  padding:4px;
  margin-right:4px;
}

.mdl-list__item .time {
  float:left;
  font-size: 12px;
  font-style:italic;
  box-sizing:border-box;
  padding:4px;
  margin-right:4px;
  color: #bbb;
}

.mdl-list__item .message {
  display:inline-block;
  float:left;
  font-size: 14px;
  box-sizing:border-box;
  padding:4px;
  margin-right:4px;
  text-align: left;
  width:100%;
}

.message img {
  width: 100%;
}

/* #listlist {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
} */
#list-filler {
  flex-grow: 1;
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 610px) {

  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}
